<div class="field">
  <div class="control">
    <div class="select is-primary" >
      <select id="rangeSelect">
        <option>Select dropdown</option>
        <option value='20'>20</option>
        <option value='50'>50</option>
        <option value='75'>75</option>
        <option value ='all'>ALL</option>
      </select>
    </div>
  </div>
</div>
<div id = "hello-new"></div>

 
<script src="/js/sample.js"></script>